$text-color: #212121;
$text-light-color: #9999;

$light-line-color: #f0f0f0;

$primary: rgb(56, 135, 56);

$grey-light-1: #999;
$grey-light-2: rgb(181, 181, 181);
$grey-light-3: rgb(218, 218, 218);
$grey-light-4: rgb(236, 236, 236);
$grey-light-5: rgb(245, 245, 245);
